<div class="card-create">
  <p-card>
    <h4>Post</h4>
    <form [formGroup]="postForm">
      <div class="form-style">
        <input #titleControl type="text" pInputText ngModel formControlName="title" placeholder="Post Title" class="input-post" required/>
        <textarea #contentControl rows="10" pInputText ngModel formControlName="content" placeholder="Post Content"
          class="textarea-post" required></textarea>
      </div>
      <button type="submit" pButton pRipple class="p-button-help" (click)="onPostAdd()" [disabled]="postForm.invalid">Save Post</button>
    </form>
  </p-card>
</div>
<p-toast></p-toast>
