<div class="cardDisplay">
  <p-accordionTab header="{{post.title}}">
    <div class="post-content">
      <div class="content">
        <p>{{post.content}}</p>
      </div>
      <div class="emotion">
        <!-- <p-toggleButton [(ngModel)]="isLike" onIcon="pi pi-thumbs-up" offIcon="pi pi-thumbs-up"></p-toggleButton> -->
        <p-button icon="pi pi-thumbs-up" label="Like" styleClass="mr-2" badge="{{post.isLike}}" (click)="handleIsLike()"></p-button>
      </div>
    </div>
    <p class="date" style="text-align: end;">{{post.dateTime | date: 'MMM d, y, h:mm:ss a'}}</p>
    <div class="styleFlex">
      <button pButton pRipple class="p-button-success mr-10" (click)="onEdit()">Edit</button>
      <button pButton pRipple class="p-button-danger" (click)="delete.emit(post.id)">Delete</button>
    </div>
    <div>
      <h4>Comment</h4>
      <div>
        <ul>
          <li *ngFor="let currentComment of post.comments">
           <app-comment [currentComment]="currentComment"></app-comment>
          </li>
        </ul>
      </div>
      <app-post-comment [post]="post"></app-post-comment>
    </div>
  </p-accordionTab>
  <app-post-edit *ngIf="post.inEdit === true" [post]="post"></app-post-edit>
</div>
