<div class="cardDisplay">
  <p-accordionTab header="{{post.title}}">
    <p>{{post.content}}</p>
    <p class="date" style="text-align: end;">{{post.dateTime | date: 'MMM d, y, h:mm:ss a'}}</p>
    <div class="styleFlex">
      <button pButton pRipple class="p-button-success mr-10" (click)="onEdit()">Edit</button>
      <button pButton pRipple class="p-button-danger" (click)="deletePost()">Delete</button>
    </div>
    <div>
      <h4>Comment</h4>
      <app-post-comment [post]="post"></app-post-comment>
      <p *ngFor="let currentComment of post.comments">{{currentComment}}</p>
    </div>
  </p-accordionTab>
  <app-post-edit *ngIf="post.inEdit === true" [post]="post"></app-post-edit>
</div>
