.styleFlex {
  display: flex;
  justify-content: flex-end;
}

.cardDisplay {
  width: 1000px;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
}

.post-content {
  display: flex;
  justify-content: space-between;
}

.content {
  font-weight: 500;
}

.mr-10 {
  margin-right: 10px;
}

.like-btn {
  background-color: #3B82F6;
}
