.dateTime {
  display: flex;
  justify-content: flex-end;
}

.title {
  font-weight: 500;
  font-size: 1.5rem;
}

.content {
  font-weight: 500;
}

.noPosts {
  font-weight: 500;
  font-size: 1.5rem;
}

.mr-10 {
  margin-right: 10px;
}
